*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: palevioletred;
    height: 15vh;
    border: rgb(243, 180, 9) 5px solid;
}

.header-nav__figure{
    background-color: blueviolet;
    height: 6vh;
}
#figure-image{
    display: inline-flex;
}

figcaption{
    text-align: center;
}

.header-figure{

}

.header-figure h1{
    margin-top: 18px;
    margin-left: 5px;
}

.header-figure img{

    width: 150px;
    margin: 7px;

}

.header-figure, .nav, .nav-lista li{
    display: inline-block;
} 

.nav-lista{
   
    background-color: palegreen;
    list-style: none;
    position: relative;
    border: black 5px solid;
}

.nav-lista li{

    top: 15px;
    position: relative;
    font-size: 20px;
    margin: 15px;
    height: 50px;
}

.nav-lista a:hover{
    color: red;
}

.nav-lista a::after{
    content: '  |';
}

.main{
    background-color: peachpuff;
    border: solid black 5px;
    border-radius: 5px;
    border-bottom: none;
}
.aside{
    background-color: pink;
    padding: 10px;
    display: inline-block;
    border-right: blue 5px solid;
    
}

.aside-figure img{
    display: block;
    margin: 5px 0;
}

.content{
    display: inline-block;
    position: absolute;
    padding: 10px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    border: solid green 5px;
    border-radius: 5px;
}